.user-image-container {
	//border-radius: 300px;
}

.user-image-wrapper {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: url(../img/calvin.jpg) no-repeat;
	position: relative;
	margin:auto;
}

.user-info-container {

}