p, h1, div {
	font-family: Gill Sans
}

.content {
	background-color: #c0504d;
}

.cover-element {
	height: 250px;
	text-align: center;
	position: relative;
	margin: auto;
	margin-bottom:60px;
}

.cover-img {
	position: absolute;
	display: inline-block;
	margin-top:120px;
	height:80px;
	width: auto;
}

.search-bar {
	background-color: rgba(0,0,0,0);
	outline: 0;
	border-width: 0px;
	width: 180px;
	font-size: 32px;
	margin-left:0px;
	color: #ffcc00;
}

::-webkit-input-placeholder {
   color: #ffcc00;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffcc00;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffcc00; 
}

:-ms-input-placeholder {  
   color: #ffcc00;
}

.bar {
	margin: -55px 95px;
	/width: 95px;
	background: rgba(0,0,0,0);

}

.house-card {
	position: relative;
	margin:auto;
	background-color:white;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	border-radius: 5px;
	height: 200px;
	width: 200px;
}

.house-image {
	//width:100%;
	width:340px;
}

.house-title {
	color:white;
	text-align: center;
	font-size: 32px;
}

.star-container {
	margin: -10px auto 0px auto;
	position: relative;
	text-align: center;
	width:200px;
}

.star {
	display:inline-block;
	width:35px;
	height: auto;
}

.footer {
	background-color: #c0504d;
	margin-bottom:0;
	padding-bottom: 0;
}

.logo-wrapper {
	/box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	text-align: center;
	position: relative;
	margin:auto;
}

.search-container {
	/margin-top: 160px;
	margin-bottom: 160px;
	height:200px;
	/margin-left:35%;
	/width:30%;
}

.housing-options {
	font-size: 36px;
	font-color: #c0504d;
	text-align: center;
}

.search-image {
	display:inline;
	position: relative;
	padding: 15px;
	border-radius:50px;
	border-style: solid;
	border-width: 1px;
	font-size:32px;
	color: #ffcc00;
}

.image-container {
	text-align: center;
  	margin-top: -130px;
  	width: 40%;
  	margin-left:30.5%;
}
